body {
  font-family: Arial, sans-serif;
  background-color: skyblue;
}

h1 {
  margin-left: 1rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  column-gap: 5px;
  justify-items: start;
  width: 30%;
  min-width: 200px;
  border: 2px solid rgb(92, 92, 255);
  border-radius: 0.5rem;
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.box > h2 {
  border-bottom: 1px solid rgb(58, 58, 59);
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
}

.box > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 1, 33);
}

.day {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25% 25% 25% 25%;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 1, 33);
  grid-column-start: 1;
  grid-column-end: 3;
}

.high-low {
  white-space: pre;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row-start: 2;
  grid-column-start: 2;
}

.forecast-temp {
  grid-row-start: 2;
}

.rain-chance {
  grid-row-start: 4;
  grid-column-start: 2;
}

.description {
  grid-row-start: 3;
  grid-column-start: 2;
}

.day-header {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(92, 92, 255);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
}
